<mat-sidenav-container class="example-container">
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Aplicación de Gifs</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>

        <div class="row">
            <div class="col-12 col-md-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-10 d-flex p-3 flex-column">
                <div class="row">
                    <div class="col-12">
                        <app-search-bar></app-search-bar>
                    </div>
                    <div class="col-12 p-4">
                        <app-gif-list [gifs]="gifList"></app-gif-list>
                    </div>
                </div>

            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>